body{
    background-color: #f7f7f7;
}
.ttt{
    width: 100px;
    height: 100px;
    background-color: #23344e;
}
.ppp{
    width: 100px;
    height: 100px;
    background-color: #032b44;
}
.ooo{
    width: 100px;
    height: 100px;
    background-color: #ffc67d;
}